@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

[style*="scrollbar-width: none"]::-webkit-scrollbar {
  display: none;
}

